<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="hospitalNet" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="hospitalNet" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="hospitalNet" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="hospitalNet" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HospitalNet Client</title>
  <meta name="description" content="Client application for HospitalNet system">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<!-- Library source includes -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/jquery/src/sizzle/dist/sizzle.min.js"></script>

<!-- Dev source includes -->
  <script src="src/app.js"></script>
  <script src="src/config/appRoutes.js"></script>
  <script src="src/config/config.js"></script>
  <script src="src/lib/highcharts.js"></script>
  <script src="src/lib/module.highcharts.exporting.js"></script>
  <script src="src/lib/notify.min.js"></script>
  <script src="src/services/dataService.js"></script>
  <script src="src/config/entities/entities.js"></script>
  <script src="src/features/menu/menu.js"></script>
  <script src="src/components/chart/directives/chart.js"></script>
  <script src="src/components/form/directives/form.js"></script>
  <script src="src/components/form/directives/formInput.js"></script>
  <script src="src/components/list/directives/list.js"></script>
  <script src="src/config/entities/definitions/beosztas.js"></script>
  <script src="src/config/entities/definitions/betegFelvetel.js"></script>
  <script src="src/config/entities/definitions/betegRegisztracio.js"></script>
  <script src="src/config/entities/definitions/betegseg.js"></script>
  <script src="src/config/entities/definitions/gyogyszerKiiras.js"></script>
  <script src="src/config/entities/definitions/helyseg.js"></script>
  <script src="src/config/entities/definitions/mutetElojegyzes.js"></script>
  <script src="src/config/entities/definitions/raktariPeldany.js"></script>
  <script src="src/config/entities/definitions/raktariTargy.js"></script>
  <script src="src/features/kimutatas_render/controllers/kimutatasRenderCtrl.js"></script>
  <script src="src/features/raktar/controllers/raktarCtrl.js"></script>

  <script src="backendConfig.js"></script>



  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="app_canvas">
    <div class="header">
      <a ui-sref="home">
        <img class="logo" src="assets/images/logo.png"/>
      </a>
      <div class="login_ctrls"></div>
    </div>
    <ul class="menu">
      <li ng-repeat="route in routes"><a >{{route.name}}</a></li>
    </ul>

    <div class="main_screen" ui-view></div>
    <div class="loading-overlay" ng-if="loading">
      <div class="loading-indicator">
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <div></div>
        </div>
        <div class="text">Betöltés...</div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->


</body>
</html>
