<h3>Raktár</h3>
<div class="list-view" ng-controller="raktarCtrl">
    <list object-def="entities.raktariTargy" condition="" fields="['nev']" controls="['fill','modify','delete']" ></list>
    <div class="form-footer">
        <button type="button" class="btn btn-primary" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></span> Raktári elem hozzáadása</button>
        <button type="button" class="btn btn-primary" ng-click="fillSet()"><span class="glyphicon glyphicon-circle-arrow-up"></span> Raktárkészlet feltöltése</button>
    </div>
</div>