<div>
    <div class="list-header">
        <div class="searchField">
            <input class="form-control" type="text" ng-model="searchExpression" ng-model-options="{debounce: 200}"/>
            <span class="glyphicon glyphicon-search"></span> Keresés
        </div>
    </div>
    <div class="list-container">
        <div class="list-table">
            <div class="list-head">
                <div class="head-cell" ng-repeat="key in fields">{{fieldDef[key].desc || '&nbsp;'}}</div>
                <div class="placeholder"></div>
                <div class="item-controls">
                </div>
            </div>
            <div class="list-item" ng-repeat="item in list">
                <div class="desc-field" ng-repeat="field in item.descFields">{{field}}</div>
                <div class="placeholder"></div>
                <div class="item-controls">
                    <div class="item-control" ng-repeat="control in controls" ng-include="getControlTemplate(control)"></div>
                </div>
            </div>
        </div>
    </div>
</div>