li {
  display: block;
  width: 70px;
  margin: 10px 5px;
  text-align: center;
  a {
    text-decoration: none;
    color: #363636;
    .icon {
      transition: all 0.3s;
      background-color: transparent;
      border: 1px solid #888888;
      display: inline-block;
      height: 50px;
      width: 50px;
      margin: 5px 0 0 0;
      border-radius: 4px;
      position: relative;
      img {
        width: 40px;
        height: 40px;
        margin: 5px 0;
        border: none;
      }
    }
    span {
      transition: all 0.3s;
      font-size: 12px;
    }
    &:hover {
      color: #15151d;
      .icon {
        @include buttonOverlay;
        box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
        background-color: #ffd409;
      }
      span {
        text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
      }
    }
    &:active{
      .icon {
        box-shadow: none;
      }
      span {
        text-shadow: none;
      }
    }
  }
}