  <script src="src/app.js"></script>
  <script src="src/config/appRoutes.js"></script>
  <script src="src/config/config.js"></script>
  <script src="src/lib/highcharts.js"></script>
  <script src="src/config/objDefinitions/betegFelvetel.js"></script>
  <script src="src/config/objDefinitions/betegReg.js"></script>
  <script src="src/config/objDefinitions/gyogyszerKiiras.js"></script>
  <script src="src/config/objDefinitions/mutetElojegyzes.js"></script>
  <script src="src/config/objDefinitions/raktariTargy.js"></script>
  <script src="src/config/objDefinitions/_objDef.js"></script>
  <script src="src/features/menu/menu.js"></script>
  <script src="src/components/form/directives/form.js"></script>
  <script src="src/components/form/directives/formInput.js"></script>
