  <script src="src/app.js"></script>
  <script src="src/config/appRoutes.js"></script>
  <script src="src/config/config.js"></script>
  <script src="src/lib/highcharts.js"></script>
  <script src="src/lib/module.highcharts.exporting.js"></script>
  <script src="src/lib/notify.min.js"></script>
  <script src="src/services/dataService.js"></script>
  <script src="src/config/entities/entities.js"></script>
  <script src="src/features/menu/menu.js"></script>
  <script src="src/components/chart/directives/chart.js"></script>
  <script src="src/components/form/directives/form.js"></script>
  <script src="src/components/form/directives/formInput.js"></script>
  <script src="src/components/list/directives/list.js"></script>
  <script src="src/config/entities/definitions/beosztas.js"></script>
  <script src="src/config/entities/definitions/betegFelvetel.js"></script>
  <script src="src/config/entities/definitions/betegRegisztracio.js"></script>
  <script src="src/config/entities/definitions/betegseg.js"></script>
  <script src="src/config/entities/definitions/gyogyszerKiiras.js"></script>
  <script src="src/config/entities/definitions/helyseg.js"></script>
  <script src="src/config/entities/definitions/mutetElojegyzes.js"></script>
  <script src="src/config/entities/definitions/raktariPeldany.js"></script>
  <script src="src/config/entities/definitions/raktariTargy.js"></script>
  <script src="src/features/kimutatas_render/controllers/kimutatasRenderCtrl.js"></script>
  <script src="src/features/raktar/controllers/raktarCtrl.js"></script>
