<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="hospitalNet" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="hospitalNet" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="hospitalNet" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="hospitalNet" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HospitalNet Client</title>
  <meta name="description" content="Client application for HospitalNet system">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<!-- Library source includes -->
@@include('./_lib.html')
<!-- Dev source includes -->
@@include('./_includes.html')
  <script src="backendConfig.js"></script>



  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="app_canvas">
    <div class="header">
      <a ui-sref="home">
        <img class="logo" src="assets/images/logo.png"/>
      </a>
      <div class="login_ctrls"></div>
    </div>
    <ul class="menu">
      <li ng-repeat="route in routes"><a >{{route.name}}</a></li>
    </ul>

    <div class="main_screen" ng-if="!reload">
      <div ui-view></div>
    </div>
    <div class="loading-overlay" ng-if="loading">
      <div class="loading-indicator">
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <img src="assets/images/loading.svg" />
        </div>
        <div>
          <div></div>
        </div>
        <div class="text">Betöltés...</div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->


</body>
</html>
