<div class="form-container">
    <div class="container">
        <div class="col-md-6">
            <form-input ng-repeat="(key, value) in leftInputs" form-field="{{key}}"></form-input>
        </div>
        <div class="col-md-6">
            <form-input ng-repeat="(key, value) in rightInputs" form-field="{{key}}"></form-input>
        </div>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Mentés</button>
        <a ui-sref="home" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Elvetés</a>
    </div>
</div>